.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.904);
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}
.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  margin: 10px;
  width: 25%;
  padding: 20px;
  background-color: transparent;
}
.pics {
  margin: auto;
  height: 200px;
  width: 200px;
  background-color: coral;
}
.textcolumn {
  margin: 10px 0px 30px;
}
.link-container {
  color: rgb(0, 0, 0);
  width: 90px;
  border-bottom: 1px solid rgb(255, 0, 0);
  line-height: 30px;
}
/* .link-container:hover{
  color: red;
  border-bottom: 1px solid red;
  line-height: 30px;
} */
.card:hover {
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  overflow: hidden;
  transform: scale(1.1);
  background-color: white;
  color: black;
}