.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.904);
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.titl{
  margin: 2rem;
}
.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  margin: 10px;
  width: 25%;
  padding: 20px;
  background-color: transparent;
}
.icon {
  padding: 20px;
  margin: auto;
  height: 200px;
  width: 200px;
  /* background-color: coral; */
}
.textcolumn {
  margin: 10px 0px 30px;
}
.link-container {
  color: rgb(0, 0, 0);
  width: 90px;
  border-bottom: 1px solid rgb(255, 0, 0);
  line-height: 30px;
}
.card:hover {
  box-shadow: 0 6px 20px rgba(56, 126, 255, 0.473);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  transform: scale(1.05);
  color: rgb(0, 0, 0);
}
@media screen and (max-width:800px) {
  .cards-container{
    flex-direction: column;
  }
  .content-container{
    margin-top: 1rem;
  }
  .card{
    text-align: center;
    align-items: center;
    width: 100%;
  }
}
