.camping-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .camping-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .description {
    text-align: center;
    width: 50%;
    vertical-align: middle;
    margin: 2rem;
  }
  .phto{
    width: 50%;
    height: 100%;
    display: flex;
    background-image: url("../Group\ 1109.png"); 
    background-repeat: no-repeat;
  }

  